/* For Mobile Phones */

@media (max-width: 421px){
    .left{
        height: 100vh;
    }
    .right{
        height: 100vh;
    }
    .nav-rest{
        width: 96%;
    }
    .search{
        width: 56px;
    }
    .buttons{
        display: none;
    }
    .section1 > :nth-child(2){
        overflow-x: scroll;
    }
    .song-bar{
        bottom: 0px;
    }
    .song-bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 521px) {
    .buttons{
        display: none;
    }
}
@media (max-width: 250px) {
    .section1 > :nth-child(1)>:last-child{
        display: none;
    }
}
/* For PC */
@media (min-width: 421px){
    .left{
        height: 93vh;
    }
    .right{
        height: 93vh;
    }
}

/* For Super Large PCs */
@media (min-width: 1166px) {
    .nav-rest{
        width: 60%;
    }
    .left{
        height: 100vh;
    }
    .right{
        height: 100vh;
    }
    .section1 > :nth-child(2){
        overflow-x: scroll;
    }
}